<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Board Form</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <style>
        /*html{position:relative;min-height:100%;}*/
        body{
            margin-bottom:60px;
        }

        body > .container{
            padding:60px 15px 0;
        }
    </style>
</head>
<div id="mainHide">
    총건수 : <span th:text="${getTotalElements }"></span>
    <table class="table table-hover">
        <thead>
        <tr>
            <td>번호</td>
            <td>제목</td>
            <td>작성자</td>
            <td>조회수</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board: ${list}">
            <td th:text="*{board.id}"></td>
            <td>
                <a th:href="@{'/board/form/' + ${board.id}}">
                    <span th:text="*{board.title}"></span>
                </a>
            </td>
            <td th:text="*{board.regnm}"></td>
            <td th:text="*{board.hit}"></td>
        </tr>
        </tbody>
    </table>
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item" th:each="i: ${#numbers.sequence(startPage, endPage)}">
            <a class="page-link" href="#" th:href="@{/board/list(page=${i-1})}" th:text="${i}">1</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</nav>
<div class="pull-right" style="width:100px;margin:10px 0;">
    <a href="/board/form" class="btn btn-primary btn-block">등록</a>
</div>
</html>