<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Board Form</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <style>
        body{
            margin-bottom:60px;
        }

        body > .container{
            padding:60px 15px 0;
        }
    </style>
</head>
<form th:action="@{'/board/create'}" method="post">
    <div id="mainHide">
        <table class="table table-hover">
            <thead>
            </thead>
            <tbody>
            <tr>
                <td>userid:<input type="text" name="userid" th:value="${view.userid}"></td>
            </tr>
            <tr>
                <td><input type="text" name="title" th:value="${view.title}"></td>
            </tr>
            <tr>
                <td><input type="text" name="regnm" th:value="${view.regnm}"></td>
            </tr>
            <tr>
                <td><textarea name="content" th:field="${view.content}"></textarea></td>
            </tr>
            </tbody>
        </table>
        <div class="pull-right" style="width:100px;margin:10px 0;">
            <button class="btn btn-primary btn-block">저장</button>
        </div>
    </div>
</form>
</html>